---
layout: page
title: Gateway de pagamento
pic: ../../assets/images/background-default.png
bg-size: contain
bg-height: 45vh
ref: gateway
---

{% include menu-recursos.html %}

<section class="checkout">
  <div class="container">
    
    <div class="row">
      <div class="col-xs-12 text-center">
        <h4>Gateway de pagamento, checkout <b>transparente e segurança</b></h4>
      </div>
    </div>
    
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="full-height">
          <img class="img-responsive" src="/assets/images/seg-icon.png" alt="">
        </div>
        <span>Segurança nas transações</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex</p>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="full-height">
          <img class="img-responsive" src="/assets/images/eficiencia-icon.png" alt="">
        </div>
        <span>Mais eficiência</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="full-height">
          <img class="img-responsive" src="/assets/images/checkout-icon.png" alt="">
        </div>
        <span>Checkout transparente</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex</p>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="full-height">
          <img class="img-responsive" src="/assets/images/taxa-icon.png" alt="">
        </div>
        <span>Aumente a sua taxa de conversão</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="full-height">
          <img class="img-responsive" src="/assets/images/click-icon.png" alt="">
        </div>
        <span>Compra em 1 click</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex</p>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="full-height">
          <img class="img-responsive" src="/assets/images/unica-icon.png" alt="">
        </div>
        <span>Integre uma única API de pagamento</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex</p>        
      </div>
    </div>

  </div>
</section>

{% include gateway.html %}

{% include trabalho.html %}