---
layout: default
title: Gestão de Assinaturas
pic: ../../assets/images/background-default.png
bg-size: contain
bg-height: 45vh
midia-title: Quem já falou da gente?
ref: assinaturas
---

{% include menu-recursos.html %}

<section class="faturamento">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        
        <img src="/assets/images/controle-faturamento.png" alt="" class="img-responsive">
      </div>
      <div class="col-xs-12 col-md-6 text-center">
        <h4>Tenha o controle do seu faturamento</h4>
        <p>Através de um software online de cobrança, a Vindi oferece uma plataforma para controlar recebimentos, boletos bancário, inadimplentes, estornos, emissão de notas fiscais automáticas e conciliação de boletos. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
        
      </div>
    </div>
  </div>
</section>

{% include midia-row.html %}

<section class="assinaturas">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 text-center">
        <h4>Controle total de assinaturas</h4>
        <p>Saiba quem pagou, quem está inadimplente e tenha a melhor ferramenta para prever seu faturamento dos meses seguintes. O dashboard online funciona como um CRM de cobrança simples e prático para enviar faturas. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
        
      </div>
      <div class="col-xs-12 col-md-6">
        
        <img src="/assets/images/controle-assinaturas.png" alt="" class="img-responsive">
      </div>
    </div>
  </div>
</section>

<section class="extorno">
  <div class="container">
    <div class="row">
      <div class="offset-img">
        <img src="/assets/images/controle-extorno.png" alt="">
      </div>
      <div class="col-xs-12 col-md-6 text-left">
        <h4>Faça extorno direto da plataforma</h4>
        <p>Acabou a espera. Nossa plataforma de gestão de assinantes permite administrar as transações em tempo real. Permitindo retentativas, estornos e baixas manuais de boletos, não dependendo do banco ou do adquirente para o processamento. Veja o detalhe de cada transação aprovada ou recusada, sem precisar logar em outros sistemas. A Vindi permite a consulta de transações online detalhadamente. Com os códigos de erro e sucesso nos relatórios online.</p>
        
      </div>
    </div>
  </div>
</section>

{% include trabalho.html %}

{% include api-code.html %}

{% include conexao.html %}