<section class="api-code">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h4>API amigável e de <b>fácil integração</b></h4>
        <p>Ulla dit ium resttior eprerep errupta sitatem.  Caborem res et etur moluptatibus alistiae Ulla dit ium resttior eprerep errupta sitatem. Caborem res e t etur moluptatibus alistiae Ulla dit ium restatior eprerep errupta sitatem. Ulla dit ium </p>
      </div>
    </div>

    <div class="row img-api">
      <div class="col-xs-12">
        <img src="/assets/images/api-code.png" alt="" class="img-responsive">
      </div>
    </div>

    <div class="row api-recursos">
      <div class="col-xs-12 col-sm-6">
        <div class="full-height">
          <img src="/assets/images/ico-api.png" alt="">
        </div>
        <span>Campos personalizados e metadados</span>
        <p>Crie através da API campos personalizados e metadados definidos por você. Inclua informações pertinentes ao seu negócio na hora de criar sua solução de pagamento.</p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="full-height">
          <img src="/assets/images/ico-api.png" alt="">
        </div>
        <span>Decida a melhor integração</span>
        <p>Integre nossa API via assinaturas, faturas avulsas ou por transações (modo gateway). Construa uma solução única e com as características para seu negócio.</p>
      </div>
    </div>

    <div class="row api-recursos">
      <div class="col-xs-12 col-sm-6">
        <div class="full-height">
          <img src="/assets/images/ico-api.png" alt="">
        </div>
        <span>Webhooks</span>
        <p>Além da nossa API REST, a plataforma da Vindi também suporta a con figuração de webhooks para facilitar a comunicação quando algum evento ocorrer.</p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="full-height">
          <img src="/assets/images/ico-api.png" alt="">
        </div>
        <span>Integração única para as adquirentes</span>
        <p>Absorva todos os principais adquirentes (Cielo, Rede, Elavon e etc) através de uma única API, não necessitando fazer dezenas de integrações distintas.</p>
      </div>
    </div>

    <div class="row api-recursos">
      <div class="col-xs-12 col-sm-6">
        <div class="full-height">
          <img src="/assets/images/ico-api.png" alt="">
        </div>
        <span>Documentação interativa</span>
        <p>Chega de sofrimento. Antes de implementar, você conseguirá mandar requisições reais para a plataforma, economizando tempo de desenvolvimento.</p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="full-height">
          <img src="/assets/images/ico-api.png" alt="">
        </div>
        <span>API de pagamento flexível</span>
        <p>Sites de assinaturas, escolas, serviços, hospedagem, ecommerces e dezenas de segmentos integram nossa API construindo uma solução única de pagamento.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12"><a href="#" class="btn btn-default">Conheça a nossa API</a></div>
    </div>
  </div>
</section>