<section class="auditoria">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <img src="" alt="" class="img-responsive">
      </div>
      <div class="col-xs-12 col-md-6">
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor </h4>
        <p>A VINDI possui um time dedicado exclusivamente a  identificar e mitigar desvios e falhas de segurança 24 horas por dia, sete dias por semana. Todas as ferramentas e processos descritos abaixo são auditados anualmente por uma consultoria  homologada pelas principais bandeiras através do PCI Council e atesta, por meio de certificação, que cumprimos todas as exigências de segurança da informação.</p>
        <button class="btn btn-default">QUERO CONHECER</button>
      </div>
    </div>
  </div>
</section>