<section class="pre-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3>Uma plataforma completa para 
         <br>
         <b>receber pagamentos online</b></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-3">
        <img src="/assets/images/seguranca.png" alt="">
        <span>Segurança de ponta a ponta</span>
        <p>Hitem latur? Hilibus ibusam qui dolorro moditasimus maio digend</p>
        <button>Saiba mais</button>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-3">
        <img src="/assets/images/recuperacao.png" alt="">
        <span>Recuperação de inadimplência</span>
        <p>Hitem latur? Hilibus ibusam qui dolorro moditasimus maio digend</p>
        <button>Saiba mais</button>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-3">
        <img src="/assets/images/integracao.png" alt="">
        <span>Integrações de pagamento</span>
        <p>Hitem latur? Hilibus ibusam qui dolorro moditasimus maio digend</p>
        <button>Saiba mais</button>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-3">
        <img src="/assets/images/metodo.png" alt="">
        <span>Métodos de pagamento</span>
        <p>Hitem latur? Hilibus ibusam qui dolorro moditasimus maio digend</p>
        <button>Saiba mais</button>
      </div>
    </div>
  </div>
</section>

<footer class="site-footer">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3 logo-social">
        <img src="/assets/images/logo-footer.png" alt="" class="logo">
        <ul class="social">
          <li><a class="fb" href=""></a></li>
          <li><a class="tw" href=""></a></li>
          <li><a class="in" href=""></a></li>
          <li><a class="yt" href=""></a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-8 col-md-offset-1 flex-menu-footer">
        <div class="item">
          <ul>
            <h4>Institucional</h4>
            <li><a href="">A economia da recorrência</a></li>
            <li><a href="">Sobre</a></li>
            <li><a href="">Clientes</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Contato</a></li>
          </ul>
        </div>
        <div class="item">
          <ul>
            <h4>Suporte</h4>
            <li><a href="">Perguntas frequentes</a></li>
            <li><a href="">Área do cliente</a></li>
            <li><a href="">API de pagamento</a></li>
            <li><a href="">Termos de uso</a></li>
            <li><a href="">Política de privacidade</a></li>
          </ul>
        </div>
        <div class="item">
          <ul>
            <h4>Recursos</h4>
            <li><a href="">Gestão de assinaturas</a></li>
            <li><a href="">PCI Compliance</a></li>
            <li><a href="">Integrações</a></li>
            <li><a href="">Integrações</a></li>
            <li><a href="">Emissão de boletos</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</footer>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
