<section class="rede">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h4>Gateway de <b>pagamento online</b></h4>
        <p>Ulla dit ium resttior eprerep errupta sitatem.  Caborem res et etur moluptatibus alistiae Ulla dit ium resttior eprerep errupta sitatem. Caborem res e t etur moluptatibus alistiae Ulla dit ium restatior eprerep errupta sitatem. Ulla dit ium resttior eprerep errupta sitatem.  Caborem res et etur moluptatibus alistiae Ulla dit ium resttior eprerep errupta </p>
        <a href="#" class="btn btn-default">Saiba mais</a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12"><img src="/assets/images/Ilustracao.png" alt="" class="img-responsive text-center gateway"></div>
    </div>
  </div>
</section>