<div class="sec-nav">
  <div class="container">
    <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
        <li role="presentation" class="{% if page.ref == 'gateway'%}active-menu{%endif%} "><a href="/recursos/gateway-de-pagamento">Gateway de pagamento</a></li>
        <li role="presentation" class="{% if page.ref == 'assinaturas'%}active-menu{%endif%} "><a href="/recursos/gestao-de-assinaturas">Gestão de assinaturas</a></li>
        <li role="presentation" class="{% if page.ref == 'metodos'%}active-menu{%endif%} "><a href="/recursos/metodos-de-pagamento">Métodos de pagamento</a></li>
        <li role="presentation" class="{% if page.ref == 'integracoes'%}active-menu{%endif%} "><a href="/recursos/integracoes">Integrações</a></li>
        <li role="presentation" class="{% if page.ref == 'api-pagamento'%}active-menu{%endif%} "><a href="/recursos/api-de-pagamento">API de pagamento</a></li>
        <li role="presentation" class="{% if page.ref == 'seguranca'%}active-menu{%endif%} "><a href="/recursos/seguranca">Segurança</a></li>
      </ul>
    </nav>
  </div>
</div>