<section class="culture">

  <div class="container">

    <div class="row">
      <div class="col-xs-12 text-geral">
        
        <h4>
          {{page.midia-title}}
        </h4>
        <p>
          {% if page.midia-text %}
            {{page.midia-text}}
          {% endif %}  
        </p>
          
      </div>
    </div>

    <div class="row cases op-grid">

        <div class="item-op">
          <a href="#"><div class="logo-valor"></div></a>
        </div>

        <div class="item-op">
          <a href="#"><div class="logo-tnw"></div></a>
        </div>

        <div class="item-op">
          <a href="#"><div class="logo-nearshore"></div></a>
        </div>

        <div class="item-op">
          <a href="#"><div class="logo-pegn"></div></a>
        </div>

        <div class="item-op">
          <a href="#"><div class="logo-startupi"></div></a>
        </div>

        <div class="item-op">
          <a href="#"><div class="logo-draft"></div></a>
        </div>

    </div>

  </div>

</section>