<section class="operadora-home">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h4>Pagamento recorrente com <b>qualquer operadora</b></h4>
      </div>
    </div>
    <div class="row op-grid">
      <div class="item-op aceita-">
        <div class="aceita-facil"></div>
      </div>
      <div class="item-op ">
        <div class="cielo"></div>
      </div>
      <div class="item-op ">
        <div class="getnet"></div>
      </div>
      <div class="item-op ">
        <div class="globalpayments"></div>
      </div>
      <div class="item-op ">
        <div class="pagarme"></div>
      </div>
      <div class="item-op ">
        <div class="stone"></div>
      </div>
      <div class="item-op ">
        <div class="elavon"></div>
      </div>
      <div class="item-op ">
        <div class="firstdata"></div>
      </div>
      <div class="item-op ">
        <div class="rede"></div>
      </div>
      <div class="item-op ">
        <div class="stelo"></div>
      </div>
    </div>
  </div>
</section>