<section class="trabalho">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h4>Trabalhamos com diversos métodos de <b>pagamento, para atender o seu negócio</b></h4>
        <p>Ulla dit ium resttior eprerep errupta sitatem.  Caborem res et etur moluptatibus alistiae Ulla dit ium resttior eprerep errupta sitatem. Caborem res e t etur moluptatibus alistiae Ulla dit ium restatior eprerep errupta sitatem. Ulla dit ium resttior eprerep errupta sitatem.  </p>
      </div>
    </div>
    <div class="row servicos">
      <div class="col-xs-12 col-sm-4">
        <img class="img-responsive" src="/assets/images/icon-boleto.png" alt="">
        <span>Emissão de boletos</span>
        <p>Hitem latur? Hilibus natibusam qui dolorro moditasimus maio digende lecearibusa nusdae</p>
        <a href="" class="btn btn-default">Saiba mais</a>
      </div>
      <div class="col-xs-12 col-sm-4">
        <img class="img-responsive" src="/assets/images/icon-credito.png" alt="">
        <span>Cartão de crédito</span>
        <p>Hitem latur? Hilibus natibusam qui dolorro moditasimus maio digende lecearibusa nusdae</p>
        <a href="" class="btn btn-default">Saiba mais</a>
      </div>
      <div class="col-xs-12 col-sm-4">
        <img class="img-responsive" src="/assets/images/icon-debito.png" alt="">
        <span>Débito em conta</span>
        <p>Hitem latur? Hilibus natibusam qui dolorro moditasimus maio digende lecearibusa nusdae</p>
        <a href="" class="btn btn-default">Saiba mais</a>
      </div>
    </div>
  </div>
</section>