---
layout: default
title: Recursos
pic: ../assets/images/background-default.png
bg-size: contain
bg-height: 44vh
midia-title: Quem já falou da gente?
ref: recursos
---

{% include menu-recursos.html %}

{% include trabalho.html %}

{% include gateway.html %}

{% include midia-row.html %}

{% include api-code.html %}

<section class="gestao">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        
        <h4>Gestão de assinaturas</h4>
        <p>Ulla dit ium resttior eprerep errupta sitatem.  Caborem res et etur moluptatibus alistiae Ulla dit ium resttior eprerep errupta sitatem. Caborem res e t etur moluptatibus alistiae Ulla dit ium restatior eprerep errupta sitatem. Ulla dit ium resttior eprerep errupta sitatem.  Caborem res et etur moluptatibus alistiae Ulla dit ium resttior eprerep errupta sitatem. Caborem res e t etur moluptatibus alistiae.</p>
        <a class="btn btn-default">QUERO CONHECER</a>

      </div>
      <div class="col-xs-12 col-md-6">
        <img src="/assets/images/gestao.png" class="img-responsive" alt="">
      </div>
    </div>
  </div>
</section>