---
layout: default
title: Segurança
pic: ../../assets/images/background-default.png
bg-size: contain
bg-height: 45vh
ref: seguranca
---

{% include menu-recursos.html %}

{% include auditoria.html %}

<section class="prevencao">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <img src="" alt="">
        <span>PCI Compliance renovado</span>
        <p>Hitem latur? Hilibus ibusam qui dolorro moditasimus maio digende lecearibusa nusdae nonsequ atempel enimincilit eat.Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <img src="" alt="">
        <span>Duplo fator de autenticação</span>
        <p>Hitem latur? Hilibus ibusam qui dolorro moditasimus maio digende lecearibusa nusdae nonsequ atempel enimincilit eat.Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <img src="" alt="">
        <span>Sistema de prevenção e detecção de invasão</span>
        <p>Hitem latur? Hilibus ibusam qui dolorro moditasimus maio digende lecearibusa nusdae nonsequ atempel enimincilit eat.Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <img src="" alt="">
        <span>Gestão de incidentes de segurança de informação</span>
        <p>Hitem latur? Hilibus ibusam qui dolorro moditasimus maio digende lecearibusa nusdae nonsequ atempel enimincilit eat.Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
    </div>
  </div>
</section>

<section class="compliance">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h4>O que é o PCI Compliance?</h4>
        <p>O PCI-DSS é um padrão internacional de segurança de dados da indústria de cartões de pagamentos. Todo ano, empresas de pagamento no mundo precisam renovar as certificações para continuar oferecendo soluções de pagamento. A Vindi cumpre rigorosamente os padrões dessa certificação e passa por auditorias periódicas afim de manter a conformidade com a indústria de cartões.</p>
      </div>
      <div class="col-xs-12 col-md-6">
        <img src="" alt="" class="img-responsive">
      </div>
    </div>
  </div>
</section>

<section class="faq">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="h4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <img src="" alt="">
        <span>Titulo de bullet</span>
        <p>Hitem latur? Hilibus natibusam qui dolorro moditasimus maio digende lecearibusa nusdae</p>
        
      </div>

      <div class="col-xs-12 col-sm-4">
        <img src="" alt="">
        <span>Titulo de bullet</span>
        <p>Hitem latur? Hilibus natibusam qui dolorro moditasimus maio digende lecearibusa nusdae</p>
        
      </div>

      <div class="col-xs-12 col-sm-4">
        <img src="" alt="">
        <span>Titulo de bullet</span>
        <p>Hitem latur? Hilibus natibusam qui dolorro moditasimus maio digende lecearibusa nusdae</p>
        
      </div>
      <button class="btn btn-default">Download  da FAQ de segurança</button>
    </div>
  </div>
</section>