.clientes {
	.picture {
		background-size: contain;
		background-position-x: center;
		.call-text {
			text-align: center;
		
		}
	}

  .clientes-grid {
    .op-grid {
      .item-op {
        width: 141.59px;
        flex: 141.59px;

        .alura{
          
        }
        .abril{
          
        }
        .bioritmo{
          
        }
        .buscape{
          
        }
        .leiturinha{
          
        }
        .movile{
          
        }
        .serasa{
          
        }
        .smartfit{
          
        }
        .thomson{
          
        }
        .vivareal{
          
        }
        .wiseup{
          
        }
        .wizard{
          
        }
        .nerd{
          
        }
        .monqi{
          
        }
        .multiplus{
          
        }
        .templeteria{
          
        }
        .clubbeer{
          
        }
        .teamnogueira{
          
        }
        .homeshave{
          
        }
        .curves{
          
        }
        .eurodata{
          
        }
        .uniodonto{
          
        }
        .brazcubaz{
          
        }

      }
    }
  }
}