---
layout: default
title: Api de pagamento
pic: ../../assets/images/background-default.png
bg-size: contain
bg-height: 45vh
midia-title: Quem já falou da gente?
ref: api-pagamento
---

{% include menu-recursos.html %}

<section class="checkout">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <img src="" alt="" class="img-responsive">
      </div>
      <div class="col-xs-12 col-md-6">
        <h4>Constroe o melhor checkout do mundo</h4>
        <p>Centenas de empresas usam nossa API de pagamento. Desde negócios de assinaturas, serviços até ecommerces. Nossa  documentação oferece flexibilidade, rapidez na integração e melhor entendimento numa integração de pagamento.Ipsum Loren olobor dolore Ipsum Loren olobor dolore Ipsum Loren olobor doloreIpsum Loren olobor dolore </p>
        <button class="btn btn-default">Veja a documentação</button>
      </div>
    </div>
  </div>
</section>

{% include api-code.html %}

{% include auditoria.html %}